body {
  font-family: sans-serif;
  background-image: url("../image/playground.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
  padding: 0;
}

.container {
  padding: 20px;
  background-color: #3cd88f;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; /* Align items to the left */
  width: 300px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 5px;
}

button:hover {
  background-color: #0056b3;
}

.password-input-container {
  position: relative;
}

select#gender {
  width: calc(100%);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
}

#backBtn {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#backBtn:hover {
  background-color: #ff3333;
}

  .password-toggle {
    position: relative;
  }
  .password-toggle i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  #password,
  #confirm_password {
    width: 280px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
  }
  
  
  
  
  
  