
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url("../image/playground.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

  

  .container {
    background-color: pink;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
  }
  
  /* Style the header */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style the input fields */
  input[type=text], input[type=password], input[type=email], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style the confirm button */
  button[type=confirm] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  /* Change the background color of the confirm button on hover */
  button[type=confirm]:hover {
    background-color: #45a049; /* Darker green */
  }
  
  /* Add extra styling for labels */
  label {
    font-weight: bold;
  }
  
  /* Add spacing between input fields and labels */
  label, input[type=text], input[type=password], input[type=email], input[type=number], select {
    display: block;
  }
  
  /* Center the form on the page */
  form {
    text-align: center;
  }

  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
  }
  
  